* {
    background-color: aliceblue;
  }
  em{
    font-size: 20px;
  }
  span {
    text-align: center;
    padding: 30px;
  }
  a {
    margin-left: 100px;
  }
  nav {
    background-color: white;
  }
  
  .content {
    color: blue;
    font-size: 30px;
  }
  .cb {
    color: grey;
    font-size: 20px;
  }
  
  
  .inquiry{
    display: flex;
    max-width: 100%
  }
  .image4{
  
  }
  .image5{}
  

  .catalogue{
    ;
      }
  .image1 {
    width: 5px;
  }
  .image2 {
    width: 5px;
  }
  .IMAGE {
    w: 5px;
  }

  
  .wing {
    display: flex;
  }

  .image3{
 float: left;
 max-width: 100%; 
 max-height: 100%;
  }
  .why {
    color: blue;
    font-size: 30px;
    margin-left: 1000px;
  }
  .why2 {
    color: grey;
    font-size: 20px;
    margin-left: 1000px;
  }
  .Center {
    color: blue;
    font-size: 30px;
    text-align: center;
    margin-left: 20px;
  }
  .center {
    color: grey;
    text-align: center;
    margin-left: 50px;
    font-size: 23px;
  }

  .view{
    display: flex;
    justify-content: end;
    margin: 20px;
    border: 20px;
    padding: 20px;
    text-align: end;
    font-size: 18px;
  }
  
  .feedback {
    display: flex;
    justify-content: center;
    justify-content:space-evenly;
    margin: 20px;
    padding: 20px;
  }
  .footer-sec {
  background-color: #0f298b;
  display: flex;
  justify-content: center;
  align-content: space-around;
  font-size: 18px;
  }
.footer{
  background-color: #0f298b;
}
  .footer article{
    font-size: 18px;
    background-color: #0f298b;
   
  }
  .footer ul{
    font-size: 18px;
    background-color: #0f298b;
   
  }
  .footer h3{
    font-size: 18px;
    background-color: #0f298b;
   
  }
  .footer p{
    font-size: 18px;
    background-color: #0f298b;
   
  }

.footer-1{
  background-color: #0f298b;
  font-size: 20px;
 
} 
.footer-1 ul{
  background-color: #0f298b;
  font-size: 20px;
 
}
.footer-1 p{
  background-color: #0f298b;
  font-size: 20px;
  ;
}
.footer-1 h3{
  background-color: #0f298b;
  font-size: 20px;
 
}
  