* {
    background-color: aliceblue;
  }
.navbar{
  display: flex;
  padding: 15px 15px;
}
.navstart{
  font-size: 28px;
  padding-right: 400px;
}
.navcenter{
  font-size: 23px;
  text-align: center;
}
.navcenter a{
  padding-right: 30px;
}
.navend{
  font-size: 23px;
  padding-left: 400px;
}
.navend button{
  background-color: #0f298b;
  font-size: 23px;
  padding: 15px;
  border-radius: 10%;
}
  nav {
    background-color: white;
  }
  
  .content p{
    color: blue;
    font-size: 30px;
  }
  .cb {
    color: rgb(8, 8, 8);
    font-size: 20px;
  }

  .inquiry{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
  }
  .inquiry imageA{
    max-width: 100%;
  }
  .inquiry imageP{
    max-width: 100%;
    height: 1px;
  }
  .inquiry imageC{
   max-width: 100%;
   height: 1px;
  }

  .wing{
    justify-content: space-evenly;
  }
  .wing image2{
   max-width: 100%;
   justify-content: left;
  }
  .wing content{
justify-content: right;
  }
.wing .why2{
  justify-content: right;
}
  .why {
    color: blue;
    font-size: 30px;
    margin-left: 1000px;
  }
  .why2 {
    color: grey;
    font-size: 20px;
    margin-left: 1000px;
  }
  .wing li{
    color: light black;
  }
  .wing listed{
  flex-direction: row;
  }
  .Center {
    color: blue;
    font-size: 30px;
    text-align: center;
    margin-left: 20px;
  }
  .center {
    color: grey;
    text-align: center;
    margin-left: 50px;
    font-size: 23px;
  }
  
  .catalogue{
max-width: 100%;
flex-direction: row;
display: flex;
justify-content: space-evenly;
  }
    
  .catalogue image4{
max-width: 100%;
  }
  .catalogue image{
max-width: 100%;

  }
  .catalogue image51{
max-width: 100%;
  }

  .view{
    display: flex;
    justify-content: end;
    margin: 10px;
    padding: 20px;
    text-align: end;
    font-size: 18px;
  }
  
  .feedback {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 18px;
    margin: 20px;
    padding: 20px;
  }
  .footer-sec {
  background-color: #0f298b;
  display: flex;
  justify-content: center;
  align-content: space-around;
  font-size: 18px;
  }

  .footer article{
    font-size: 17px;
    background-color: #0f298b;
    
  }
  .footer ul{
    font-size: 18px;
    background-color: #0f298b;
   
  }
  .footer h3{
    font-size: 18px;
    background-color: #0f298b;
  }
.footer p{
  font-size: 18px;
  background-color: #0f298b;
  }
.footer{
background-color: #0f298b;
}
.footer-1{
  background-color: #0f298b;
  font-size: 20px;
} 
.footer-1 ul{
  background-color: #0f298b;
  font-size: 20px;
}
.footer-1 p{
  background-color: #0f298b;
  font-size: 20px;
}
.footer-1 h3{
  background-color: #0f298b;
  font-size: 20px;
}
  